@import 'appColors';

.login-container {
    .header {
        color: $primarySlate;
        margin: 4rem 0 2rem;
    }

    .new-account {
        margin-top: 4rem;

        a {
            color: $primaryTeal;
            font-size: 1.25rem;
            transition-duration: 0.5s;
            
            &:hover {
                color: $primarySalmon;
                border: 1px solid $primarySalmon;
                border-radius: 2rem;
                font-size: 1.25rem;
                padding: 1rem 2rem;
            }
        }

    }
}