@import './appColors';

.user-creation-container {
    .header {
        font-weight: 200;
        margin: 5rem 0 3rem !important;
    }

    .header-subtext {
        color: $secondaryGrey;
        margin-bottom: 2rem;
    }

    .create-user-button {
        background-color: $primaryTeal;
        border-radius: 2rem;
        width: 100%;
    }
}

.swal2-modal {
    .swal2-content {
        ul:not(.browser-default)>li {
            list-style-type: disc;
            margin: .5rem 3rem;
        }
    }
}